<div class="size-full bg-(--accent)">   
    <div class="relative grid grid-cols-[1fr_1fr_1fr] size-full justify-start items-center w-[80%] mx-auto text-(--primary) text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold">
        <button (click)="setMenu('menu')" class="text-(--primary) text-lg font-bold bg-transparent border-2 border-(--background) rounded-lg w-fit px-3 py-0 sm:px-10 sm:py-3 cursor-pointer">
            Menu
        </button>

        @if (!isOnDevice() && menuState() === 'game') {
            <div (click)="toggleShow()" class="cursor-pointer mx-auto text-center">
                @if (myTurn()) {
                    <h1 >Your Turn</h1>
                } @else if (!myTurn()) {
                    <h1>Oponents Turn</h1>
                }
            </div>
        }

        @if (!isOnDevice() && menuState() === 'game') {
            <div (click)="toggleShow()" class="cursor-pointer text-right">
                @if (!showOnlinePin()) {
                    <h1 type="password">{{ placeHolder() }}</h1>
                } @else if (showOnlinePin()) {
                    <h1 type="password">{{ onlinePin() }}</h1>
                }
            </div>
        }
    </div>
</div>