<div class="size-full grid place-items-center">

    <div class="h-full max-w-[calc(100vmin-7rem)] max-h-[calc(100vmin-7rem)] sm:max-w-[calc(100vmin-1rem)] sm:max-h-[calc(100vmin-12rem)] md:max-w-[calc(100vmin-(11rem))] md:max-h-[calc(100vmin-11rem)] aspect-square my-auto" [ngClass]="{ 'hidden': menuHandler.getMenuState()() !== 'game'}">
        <div class="size-full bg-(--accent) rounded-4xl">
            <app-field #field class="size-full" [gameState]="gameState()" [root]="true"></app-field> 
        </div>
    </div>
    <div class="size-full" [ngClass]="{ 'hidden': menuHandler.getMenuState()() !== 'menu'}">
        <app-menu></app-menu>
    </div>
    <div class="size-full" [ngClass]="{ 'hidden': menuHandler.getMenuState()() !== 'winner'}">
        <app-winner-screen></app-winner-screen>
    </div>
</div>