<div class="mx-auto flex flex-col justify-center items-center h-lvh w-full max-w-[130em]">
  <div class="h-20 w-full mb-5 grid place-items-center">
    <app-header class="size-full"></app-header>
  </div>
  <div class="size-full">
    <app-game></app-game>
  </div>
</div>
<div *ngIf="dev()" class="fixed bottom-0 bg-white p-5 z-100">
  <p class="sm:before:content-['sm'] md:before:content-['md'] lg:before:content-['lg'] xl:before:content-['xl'] 2xl:before:content-['2xl'] before:content-['smaller']"></p>
</div>
