@if (!isArray(gameState)) {

    <div class="size-full overflow-hidden text-(--text)">
        @if (gameState === 'X') {
            <div class="size-full overflow-hidden grid place-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 100 100">
                    <path d="M20,20 L80,80 M80,20 L20,80" stroke="currentColor" stroke-width="10" fill="none"/>
                </svg>
            </div>
        } @else if (gameState === 'O') {
            <div class="size-full overflow-hidden grid place-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 100 100">
                    <path d="M50,10 A40,40 0 1,1 49.9,10 Z" stroke="currentColor" stroke-width="10" fill="none"/>
                </svg>
            </div>
        } @else if (gameState === '/') {
            <div class="size-full overflow-hidden grid place-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 100 100">
                    <path d="M20,50 L80,50" stroke="currentColor" stroke-width="10" fill="none"/>
                </svg>
            </div>
        }
    </div>

} @else {

    <div class="grid grid-cols-[1fr_1fr_1fr] grid-rows-[1fr_1fr_1fr] h-full w-full place-items-center overflow-hidden"
    [ngClass]="{ 
        'p-0': indexHistory.length === 0,
        'p-5 sm:p-4 md:p-7 xl:p-9': indexHistory.length === 1,
        'p-3 lg:p-3': indexHistory.length === 2,
        'p-2 lg:p-2': indexHistory.length === 3,
        'bg-(--highlight)': getCurrentPlayedField()() && getIsClickAble()() && getMyTurn()() &&!root
    }">
        <div *ngFor="let single of gameState; let i = index" class="size-full flex justify-center items-center field-border overflow-hidden">

            @if (isArray(single)) {

                <app-field class="h-full aspect-square" [gameState]="single" [indexHistory]="setIndexHistory(i, indexHistory)" [index]="i"></app-field>

            } @else {

                <button (click)="setValue(i)" class="size-full overflow-hidden text-(--primary) cursor-pointer"
                [ngClass]="{
                    'text-(--reverse-highlight)': afterInit() && lastMoveEqual(i)()
                }">
                    @if (single === 'X') {
                        <div class="size-full overflow-hidden grid place-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 100 100">
                                <path d="M20,20 L80,80 M80,20 L20,80" stroke="currentColor" stroke-width="10" fill="none"/>
                            </svg>
                        </div>
                    } @else if (single === 'O') {
                        <div class="size-full overflow-hidden grid place-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 100 100">
                                <path d="M50,10 A40,40 0 1,1 49.9,10 Z" stroke="currentColor" stroke-width="10" fill="none"/>
                            </svg>
                        </div>
                    } @else if (single === '/') {
                        <div class="size-full overflow-hidden grid place-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 100 100">
                                <path d="M20,50 L80,50" stroke="currentColor" stroke-width="10" fill="none"/>
                            </svg>
                        </div>
                    }
                </button>

            }

        </div>
    </div>

}